*: {
color: #FFFFFF;
}
body {
	background-color: #A67D00;
}
.rootdiv{
	background-color: #A66000;
	padding: 5px;
	margin: auto;
	margin-top: 10px;
	width: 300px;
	border-radius: 5px;
}
button{ 
	background-color: #FF7940;
	border-color: #A63100;
	border-radius: 3px;
	color: #000000;
}
button:hover {
	background-color: #FF9D73;
}