body {
	background-color: #bbb;
}
.rootdiv{
	background-color: #ddd;
	padding: 5px;
	margin: auto;
	margin-top: 10px;
	width: 300px;
	border-radius: 5px;
}
button{ 
	background-color: #999;
	border-color: #777;
	border-radius: 3px;
}
button:hover {
	background-color: #aaa;
}