<head>
<title>sample</title>
</head>
<style>
@import "style/style.css";
</style>
<body>
<div class="rootdiv"> 
<form method="post" action="addNew">
<table cellpadding="0", cellspacing="2">
<tr>
<td>Имя</td><td><input type="text" name="name"></input></td>
</tr>
<tr>
<td>Адресс</td><td><input type="text" name="address"></input></td>
</tr>
</table>
    <button type="submit">Сохранить</button><br>
</form>
</div>
</body>