<head>
<title>sample</title>
</head>
<style>
@import "style/style.css";
.lineButtons {
    display: inline-block;
}
.fromButtons {
    width: 300px;
}
.fromButtons2 {
    width: 148px;
}
</style>
<script src="script/XmlHttp.js">
</script>
<body>
<div class="rootdiv">
    {{#sonoffs}}
    <!-- <form class="lineButtons" method="post" action="turnSwitch"> -->
        <button onclick="turnSwitchSonoff(this)" class="fromButtons" type="submit" title="{{name}}" name="id" value="{{id}}">{{name}}</button><br>
    <!-- </form> -->
    {{/sonoffs}}
    {{#arduinos}}
    <!-- <form class="lineButtons" method="post" action="turnSwitch"> -->
    <button onclick="turnSwitchArduino(this)" class="fromButtons" type="submit" title="{{name}}" name="id" value="{{id}}">{{name}}</button><br>
    <!-- </form> -->
    {{/arduinos}}
    <form class="lineButtons" method="get" action="addNew">
    <button class="fromButtons2" type="submit" >+</button>
    </form>
    <form class="lineButtons" method="get" action="editSwitch">
    <button class="fromButtons2" type="submit" title="Редактировать">...</button>
    </form>
</div>
<div class="rootdiv">
    <b>Снаружи</b><br>
    <a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://yandex.ru/pogoda/213" target="_blank"><img src="https://info.weather.yandex.net/213/2_white.ru.png?domain=ru" border="0" alt="Яндекс.Погода"/><img width="1" height="1" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0"/></a>
</div>
<div class="rootdiv">
    <b>Внутри</b><br>
    Температура: {{tempeture}}<br>
    Давление: {{pressure}}<br>
    Влажность: {{humidity}}<br>
</div>
<div class="rootdiv">
    <button onclick="turnAlarmsOff()" type="submit">*</button><br>
    Время сервера: {{currentTime}}<br>
    Будильник<br>
    <form method="post" action="setAlarm">
        <input size="1" min="0" max="23" type="number" name="hour" value="{{hour}}">:
        <input size="1" min="0" max="59" type="number" name="minute" value="{{minute}}">
        <input type="checkbox" name="isOn" {{alarmIsCheced}}>
        <button type="submit">Записать</button>
    </form>
    </div>
</body>